* {
	box-sizing: border-box;
}

html, body {
	height: 100%; /* sticky footer */
	margin: 0;
}

body {
	background-color: #616161;
	background-image: url("../images/binary-delta.svg");
	background-size: 160px;
}

input, button, select, textarea, a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#page-wrapper {
	/* sticky footer */
	display: table;
	min-width: 100%;
	min-height: 100%;
}

.content-wrapper {
	display: table-row-group; /* sticky footer */
}

.content {
	max-width: 1200px;
	margin: 0 auto;
}

.my-table {
	display: table;
	min-height: 100vh;
}

.my-row {
	display: table-row;
}

.my-col {
	display: table-cell;
	width: 50%;
	padding: 60px 20px;
}

#about img {
	width: 30%;
}

a[href="#work"], a[href="#resume"], a[href="#contact"] {
	text-transform: uppercase;
}

.w3-half img, .w3-third img {
	width: 100%;
}

footer.my-footer {
	display: table-footer-group; /* sticky footer */	
}

.footer-inner {
	padding: 30px 10px;
	max-width: 1200px;
	margin: 0 auto;
}

.powered-by {
	font-size: 12px;
	color: #a7a7a7;
}

#contact .raccoon-img {
	width: 40px;
}

#up-btn {
	position: fixed;
	right: 16px;
	bottom: 16px;
}

@media only screen and (max-width: 768px) {
	#resume {
		background-color: #009688 !important;
	}
	#contact {
		background-color: #673AB7 !important;
	}
	.my-col {
		display: block;
		width: 100%;
	}
}
